* {
  box-sizing: border-box;
  border-collapse: collapse;
}

*:focus {
  outline: none;
}

h1 {
  font-size: 1.9em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em;
}

body {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.jumbotron {
  background: rgb(238,236,227);
  background: linear-gradient(0deg, rgba(238,236,227,1) 1%, rgba(185,178,177,1) 100%);
  margin: 4em auto;
  width: 650px;
  max-width: 100%;  
}

.edit-button {
  margin-right: 1em;
}